/*          Produtos             */
.card img {
    width: 100%;
    height: 300px;
    transition: .3s ease-in-out;
}

.card h2{
    font-size: 1rem !important;
    font-weight: bold;
}

.card img:hover {
    transform: scale(1.3);
    transition: .3s ease-in-out;
}

.card-body {
    background: #fff;
    position: relative;
}

/*          Produtos        end     */
