



.alert-primary {
    background-color: rgba(47, 85, 212, 0.9);
    color: #ffffff;
    border-color: var(--bg-primary);
}

.alert-primary .alert-link {
    color: #122258;
}

.alert-outline-primary {
    background: var(--bg-general);
    color: var(--bg-primary);
    border-color: var(--bg-primary);
}

.alert-secondary {
    background-color: rgba(90, 109, 144, 0.9);
    color: #ffffff;
    border-color: #5a6d90;
}

.alert-secondary .alert-link {
    color: #1f2632;
}

.alert-outline-secondary {
    background: var(--bg-general);
    color: #5a6d90;
    border-color: #5a6d90;
}

.alert-success {
    background-color: rgba(46, 202, 139, 0.9);
    color: #ffffff;
    border-color: #2eca8b;
}

.alert-success .alert-link {
    color: #124d35;
}

.alert-outline-success {
    background: var(--bg-general);
    color: #2eca8b;
    border-color: #2eca8b;
}

.alert-warning {
    background-color: rgba(241, 116, 37, 0.9);
    color: #ffffff;
    border-color: #f17425;
}

.alert-warning .alert-link {
    color: #753208;
}

.alert-outline-warning {
    background: var(--bg-general);
    color: #f17425;
    border-color: #f17425;
}

.alert-info {
    background-color: rgba(23, 162, 184, 0.9);
    color: #ffffff;
    border-color: #17a2b8;
}

.alert-info .alert-link {
    color: #062a30;
}

.alert-outline-info {
    background: var(--bg-general);
    color: #17a2b8;
    border-color: #17a2b8;
}

.alert-danger {
    background-color: rgba(228, 63, 82, 0.9);
    color: #ffffff;
    border-color: #e43f52;
}

.alert-danger .alert-link {
    color: #79111d;
}

.alert-outline-danger {
    background: var(--bg-general);
    color: #e43f52;
    border-color: #e43f52;
}

.alert-dark {
    background-color: rgba(60, 72, 88, 0.9);
    color: #ffffff;
    border-color: #3c4858;
}

.alert-dark .alert-link {
    color: black;
}

.alert-outline-dark {
    background: var(--bg-general);
   color: var(--text-default);
    border-color: #3c4858;
}

.alert-muted {
    background-color: rgba(132, 146, 166, 0.9);
    color: #ffffff;
    border-color: var(--text-muted);
}

.alert-muted .alert-link {
    color: #3d4654;
}

.alert-outline-muted {
    background: var(--bg-general);
    color: var(--text-muted);
    border-color: var(--text-muted);
}

.alert-light {
    background-color: rgba(248, 249, 252, 0.9);
    color: #ffffff;
    border-color: #f8f9fc;
}

.alert-light .alert-link {
    color: #8d9dce;
}

.alert-outline-light {
    background: var(--bg-general);
    color: var(--text-light);
    border-color: #f8f9fc;
}

.alert-blue {
    background-color: rgba(47, 85, 212, 0.9);
    color: #ffffff;
    border-color: var(--bg-primary);
}

.alert-blue .alert-link {
    color: #122258;
}

.alert-outline-blue {
    background: var(--bg-general);
    color: var(--bg-primary);
    border-color: var(--bg-primary);
}

.alert-footer {
    background-color: rgba(32, 41, 66, 0.9);
    color: #ffffff;
    border-color: var(--bg-third);
}

.alert-footer .alert-link {
    color: black;
}

.alert-outline-footer {
    background: var(--bg-general);
    color: var(--bg-third);
    border-color: var(--bg-third);
}

.alert {
    padding: 8px 15px;
    border-radius: 6px;
    font-size: 14px;
}

.alert.alert-light {
     background-color: var(--bg-secondary);
   color: var(--text-default);
    border-color: #dee2e6;
}

.alert.alert-dismissible {
    padding-right: 30px;
}

.alert.alert-dismissible .close {
    top: -2px;
    right: -10px;
    font-size: 16px !important;
}

.alert.alert-pills {
    border-radius: 30px;
    display: inline-block;
}

.alert.alert-pills .content {
    font-weight: 600;
}